In [ ]:
import pandas as pd
import json

In [ ]:
fd = open("record.json","r")
r = fd.read()
fd.close()
record = json.loads(r)

In [ ]:
record

{'1001': {'name': 'Sugar', 'price': 100, 'quantity': 34},
 '1002': {'name': 'Teapowder', 'price': 800, 'quantity': 100},
 '1003': {'name': 'Dal', 'price': 85, 'quantity': 100},
 '1004': {'name': 'Moog', 'price': 5, 'quantity': 1000},
 '1005': {'name': 'wheat', 'price': 20, 'quantity': 100},
 '1006': {'name': 'paddy', 'price': 50000, 'quantity': 10},
 '1007': {'name': 'Jowar', 'price': 1500, 'quantity': 110},
 '1008': {'name': 'Agarbatti', 'price': 599, 'quantity': 5},
 '1009': {'name': 'Rin soap', 'price': 18, 'quantity': 10},
 '1010': {'name': 'Powder', 'price': 133, 'quantity': 9},
 '1011': {'name': 'Pickle', 'price': 189, 'quantity': 7},
 '1012': {'name': 'Brush', 'price': 139, 'quantity': 22},
 '1013': {'name': 'Flour', 'price': 1923, 'quantity': 120},
 '1014': {'name': 'Santoor soap', 'price': 18, 'quantity': 110},
 '1015': {'name': 'Dettol soap', 'price': 169, 'quantity': 130},
 '1016': {'name': 'Neem soap', 'price': 189, 'quantity': 120},
 '1017': {'name': 'Green dal soap', 'price': 199, 'quantity': 1},
 '1018': {'name': 'Chilli powder', 'price': 10, 'quantity': 1},
 '1019': {'name': 'Lays', 'price': 88, 'quantity': 8},
 '1020': {'name': 'Kurkure', 'price': 889, 'quantity': 90},
 '1021': {'name': 'Shampoo', 'price': 1799, 'quantity': 99},
 '1022': {'name': 'Conditioner', 'price': 1679, 'quantity': 10},
 '1023': {'name': 'Lemon rice powder', 'price': 1779, 'quantity': 9},
 '1024': {'name': 'Biscuits', 'price': 1999, 'quantity': 33},
 '1025': {'name': 'Cashew nut', 'price': 134, 'quantity': 5},
 '1026': {'name': 'Badam', 'price': 132, 'quantity': 3},
 '1027': {'name': 'Pista', 'price': 134, 'quantity': 9},
 '1028': {'name': 'Pasta', 'price': 198, 'quantity': 3},
 '1029': {'name': 'Soft drinks', 'price': 197, 'quantity': 3},
 '1030': {'name': 'Chocolate pack', 'price': 199, 'quantity': 1},
 '1031': {'name': 'Milkybar', 'price': 10, 'quantity': 100},
 '1032': {'name': '5-star', 'price': 5, 'quantity': 10}}

In [ ]:
# Entering the product
product_id = int(input("Enter Product id: "))
name = input("Enter Product name: ")
price = int(input("Enter Product price: "))
quantity = int(input("Enter Product quantity: "))

record[product_id] = { 'name': name, 'price': price, 'quantity': quantity }

rs = json.dumps(record)

fd = open("record.json", "w")
fd.write(rs)
fd.close()

Enter Product id: 1033
Enter Product name: Glucose
Enter Product price: 30
Enter Product quantity: 85

In [ ]:
record

{'1001': {'name': 'Sugar', 'price': 100, 'quantity': 34},
 '1002': {'name': 'Teapowder', 'price': 800, 'quantity': 100},
 '1003': {'name': 'Dal', 'price': 85, 'quantity': 100},
 '1004': {'name': 'Moog', 'price': 5, 'quantity': 1000},
 '1005': {'name': 'wheat', 'price': 20, 'quantity': 100},
 '1006': {'name': 'paddy', 'price': 50000, 'quantity': 10},
 '1007': {'name': 'Jowar', 'price': 1500, 'quantity': 110},
 '1008': {'name': 'Agarbatti', 'price': 599, 'quantity': 5},
 '1009': {'name': 'Rin soap', 'price': 18, 'quantity': 10},
 '1010': {'name': 'Powder', 'price': 133, 'quantity': 9},
 '1011': {'name': 'Pickle', 'price': 189, 'quantity': 7},
 '1012': {'name': 'Brush', 'price': 139, 'quantity': 22},
 '1013': {'name': 'Flour', 'price': 1923, 'quantity': 120},
 '1014': {'name': 'Santoor soap', 'price': 18, 'quantity': 110},
 '1015': {'name': 'Dettol soap', 'price': 169, 'quantity': 130},
 '1016': {'name': 'Neem soap', 'price': 189, 'quantity': 120},
 '1017': {'name': 'Green dal soap', 'price': 199, 'quantity': 1},
 '1018': {'name': 'Chilli powder', 'price': 10, 'quantity': 1},
 '1019': {'name': 'Lays', 'price': 88, 'quantity': 8},
 '1020': {'name': 'Kurkure', 'price': 889, 'quantity': 90},
 '1021': {'name': 'Shampoo', 'price': 1799, 'quantity': 99},
 '1022': {'name': 'Conditioner', 'price': 1679, 'quantity': 10},
 '1023': {'name': 'Lemon rice powder', 'price': 1779, 'quantity': 9},
 '1024': {'name': 'Biscuits', 'price': 1999, 'quantity': 33},
 '1025': {'name': 'Cashew nut', 'price': 134, 'quantity': 5},
 '1026': {'name': 'Badam', 'price': 132, 'quantity': 3},
 '1027': {'name': 'Pista', 'price': 134, 'quantity': 9},
 '1028': {'name': 'Pasta', 'price': 198, 'quantity': 3},
 '1029': {'name': 'Soft drinks', 'price': 197, 'quantity': 3},
 '1030': {'name': 'Chocolate pack', 'price': 199, 'quantity': 1},
 '1031': {'name': 'Milkybar', 'price': 10, 'quantity': 100},
 '1032': {'name': '5-star', 'price': 5, 'quantity': 10},
 1033: {'name': 'Glucose', 'price': 30, 'quantity': 85}}

In [ ]:
# Deleting the product

n = input("Enter Product id that you want to delete: ")
del record[n]

Enter Product id that you want to delete: 1022

In [ ]:
record

{'1001': {'name': 'Sugar', 'price': 100, 'quantity': 34},
 '1002': {'name': 'Teapowder', 'price': 800, 'quantity': 100},
 '1003': {'name': 'Dal', 'price': 85, 'quantity': 100},
 '1004': {'name': 'Moog', 'price': 5, 'quantity': 1000},
 '1005': {'name': 'wheat', 'price': 20, 'quantity': 100},
 '1006': {'name': 'paddy', 'price': 50000, 'quantity': 10},
 '1007': {'name': 'Jowar', 'price': 1500, 'quantity': 110},
 '1008': {'name': 'Agarbatti', 'price': 599, 'quantity': 5},
 '1009': {'name': 'Rin soap', 'price': 18, 'quantity': 10},
 '1010': {'name': 'Powder', 'price': 133, 'quantity': 9},
 '1011': {'name': 'Pickle', 'price': 189, 'quantity': 7},
 '1012': {'name': 'Brush', 'price': 139, 'quantity': 22},
 '1013': {'name': 'Flour', 'price': 1923, 'quantity': 120},
 '1014': {'name': 'Santoor soap', 'price': 18, 'quantity': 110},
 '1015': {'name': 'Dettol soap', 'price': 169, 'quantity': 130},
 '1016': {'name': 'Neem soap', 'price': 189, 'quantity': 120},
 '1017': {'name': 'Green dal soap', 'price': 199, 'quantity': 1},
 '1018': {'name': 'Chilli powder', 'price': 10, 'quantity': 1},
 '1019': {'name': 'Lays', 'price': 88, 'quantity': 8},
 '1020': {'name': 'Kurkure', 'price': 889, 'quantity': 90},
 '1021': {'name': 'Shampoo', 'price': 1799, 'quantity': 99},
 '1023': {'name': 'Lemon rice powder', 'price': 1779, 'quantity': 9},
 '1024': {'name': 'Biscuits', 'price': 1999, 'quantity': 33},
 '1025': {'name': 'Cashew nut', 'price': 134, 'quantity': 5},
 '1026': {'name': 'Badam', 'price': 132, 'quantity': 3},
 '1027': {'name': 'Pista', 'price': 134, 'quantity': 9},
 '1028': {'name': 'Pasta', 'price': 198, 'quantity': 3},
 '1029': {'name': 'Soft drinks', 'price': 197, 'quantity': 3},
 '1030': {'name': 'Chocolate pack', 'price': 199, 'quantity': 1},
 '1031': {'name': 'Milkybar', 'price': 10, 'quantity': 100},
 1033: {'name': 'Glucose', 'price': 30, 'quantity': 85}}

In [ ]:
# Purchasing the Product

ui_product = input("Enter Product id: ")
ui_quantity = int(input("Enter Quantity: "))
print("Product: ", record[ui_product]['name'])
print("Price: ", record[ui_product]['price'])
print("Quantity ordered: ", ui_quantity)
print("Billing Amount: ", record[ui_product]['price'] * ui_quantity)
record[ui_product]['quantity'] = record[ui_product]['quantity'] - ui_quantity

Enter Product id: 1019
Enter Quantity: 2
Product:  Lays
Price:  88
Quantity ordered:  2
Billing Amount:  176

In [ ]:
record

{'1001': {'name': 'Sugar', 'price': 100, 'quantity': 34},
 '1002': {'name': 'Teapowder', 'price': 800, 'quantity': 100},
 '1003': {'name': 'Dal', 'price': 85, 'quantity': 100},
 '1004': {'name': 'Moog', 'price': 5, 'quantity': 1000},
 '1005': {'name': 'wheat', 'price': 20, 'quantity': 100},
 '1006': {'name': 'paddy', 'price': 50000, 'quantity': 10},
 '1007': {'name': 'Jowar', 'price': 1500, 'quantity': 110},
 '1008': {'name': 'Agarbatti', 'price': 599, 'quantity': 5},
 '1009': {'name': 'Rin soap', 'price': 18, 'quantity': 10},
 '1010': {'name': 'Powder', 'price': 133, 'quantity': 9},
 '1011': {'name': 'Pickle', 'price': 189, 'quantity': 7},
 '1012': {'name': 'Brush', 'price': 139, 'quantity': 22},
 '1013': {'name': 'Flour', 'price': 1923, 'quantity': 120},
 '1014': {'name': 'Santoor soap', 'price': 18, 'quantity': 110},
 '1015': {'name': 'Dettol soap', 'price': 169, 'quantity': 130},
 '1016': {'name': 'Neem soap', 'price': 189, 'quantity': 120},
 '1017': {'name': 'Green dal soap', 'price': 199, 'quantity': 1},
 '1018': {'name': 'Chilli powder', 'price': 10, 'quantity': 1},
 '1019': {'name': 'Lays', 'price': 88, 'quantity': 6},
 '1020': {'name': 'Kurkure', 'price': 889, 'quantity': 90},
 '1021': {'name': 'Shampoo', 'price': 1799, 'quantity': 99},
 '1023': {'name': 'Lemon rice powder', 'price': 1779, 'quantity': 9},
 '1024': {'name': 'Biscuits', 'price': 1999, 'quantity': 33},
 '1025': {'name': 'Cashew nut', 'price': 134, 'quantity': 5},
 '1026': {'name': 'Badam', 'price': 132, 'quantity': 3},
 '1027': {'name': 'Pista', 'price': 134, 'quantity': 9},
 '1028': {'name': 'Pasta', 'price': 198, 'quantity': 3},
 '1029': {'name': 'Soft drinks', 'price': 197, 'quantity': 3},
 '1030': {'name': 'Chocolate pack', 'price': 199, 'quantity': 1},
 '1031': {'name': 'Milkybar', 'price': 10, 'quantity': 100},
 1033: {'name': 'Glucose', 'price': 30, 'quantity': 85}}

In [ ]:
# Update inventory after purchase

rs = json.dumps(record)
fd = open("record.json","w")
fd.write(rs)
fd.close()

In [ ]:
{ 'product': ui_product, 'quantity': ui_quantity, 'amount': record[ui_product]['price'] * ui_quantity }

{'amount': 176, 'product': '1019', 'quantity': 2}

In [ ]:
sales = {
    1: { 'product': ui_product, 'quantity': ui_quantity, 'amount': record[ui_product]['price'] * ui_quantity },
    2: { 'product': ui_product, 'quantity': ui_quantity, 'amount': record[ui_product]['price'] * ui_quantity },
    3: { 'product': ui_product, 'quantity': ui_quantity, 'amount': record[ui_product]['price'] * ui_quantity }
}

In [ ]:
sale = json.dumps(sales)

In [ ]:
fd = open("sales.json","w")
r = fd.write(sale)
fd.close()

In [ ]:
{ 
  (len(sales) + 1): { 'product': ui_product, 'quantity': ui_quantity, 'amount': record[ui_product]['price'] * ui_quantity } 
}

{4: {'amount': 176, 'product': '1019', 'quantity': 2}}

In [ ]:
sale

'{"1": {"product": "1019", "quantity": 2, "amount": 176}, "2": {"product": "1019", "quantity": 2, "amount": 176}, "3": {"product": "1019", "quantity": 2, "amount": 176}}'

In [ ]:
sales

{1: {'amount': 176, 'product': '1019', 'quantity': 2},
 2: {'amount': 176, 'product': '1019', 'quantity': 2},
 3: {'amount': 176, 'product': '1019', 'quantity': 2}}